$tag-size:											11px;
$tag-line-height:									20px;
$tag-padding-horizontal:							4px;
$tag-border-radius:									2px;

$tag-base-color:									#FFF;
$tag-base-bg:										#666;
$tag-base-border:									$tag-base-bg;

$tag-empty-color:									#CCC;
$tag-empty-bg:										#FFF;
$tag-empty-border:									#EEE;

.taggable-tag {
	display: inline-block;
	vertical-align: top;
	&, > a, > a:hover {
		color: $tag-base-color;
	}
	background: $tag-base-bg;
	border: 1px solid $tag-base-border;
	font-size: $tag-size;
	line-height: $tag-line-height;
	padding: 0 $tag-padding-horizontal;
	border-radius: $tag-border-radius;
}
.taggable-tags-list {
	clear: both;
	overflow: hidden;
	margin-bottom: 10px;

	&-item {
		margin-right: 4px;
	}
}


$taggable-tags-input-checkbox-size:					$tag-size;
$taggable-tags-input-checkbox-height:				$tag-line-height;
$taggable-tags-input-checkbox-padding-horizontal:	$tag-padding-horizontal;

$taggable-tags-input-checkbox-selected-bg:			$tag-base-bg;
$taggable-tags-input-checkbox-selected-border:		$tag-base-border;
$taggable-tags-input-checkbox-selected-color:		$tag-base-color;

$taggable-tags-input-checkbox-deselected-bg:		$tag-empty-bg;
$taggable-tags-input-checkbox-deselected-border:	$tag-empty-border;
$taggable-tags-input-checkbox-deselected-color:		$tag-empty-color;

.taggable-tags-input {
	&-checkboxes {
		> label, > .form-control {
			width: auto;
			display: inline-block;
			vertical-align: top;
			border-radius: $tag-border-radius;

			height: auto;
			font-size: $taggable-tags-input-checkbox-size;
			line-height: $taggable-tags-input-checkbox-height;
			padding: 0 $taggable-tags-input-checkbox-padding-horizontal;

			color: $taggable-tags-input-checkbox-deselected-color;
			background: $taggable-tags-input-checkbox-deselected-bg;
			border: 1px solid $taggable-tags-input-checkbox-deselected-border;
			&.selected {
				color: $taggable-tags-input-checkbox-selected-color;
				background: $taggable-tags-input-checkbox-selected-bg;
				border-color: $taggable-tags-input-checkbox-selected-border;
			}
		}
	}
}